*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin: auto;
  padding: 133px 30px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

.content {
  display: flex;
  align-items: end;
  gap: 30px;
  max-width: 1140px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin: 78px 0 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 18px;
}

.search-form__textfield {
  min-width: 225px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__pseudo-checkbox):hover {
  text-decoration: underline;
}

.search-form__label:has(.search-form__pseudo-checkbox):active {
  text-decoration: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  margin-right: 5px;
  opacity: 0;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
  text-decoration: none;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: bold;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 22px;
  width: 100%;
  min-width: 0;
  height: 100%;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 399px;
  height: 298px;
  overflow: auto;
}

.content__list-container:has(.preloader) {
  overflow: hidden;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link {
  display: block;
  margin: 1px;
  color: #fff;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  text-decoration: none;
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  border: 1px transparent;
  outline: 1px solid #fff;
  outline-offset: 0;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 50%;
}

.content__video-card-title {
  padding-top: 3px;
  padding-left: 1px;
  overflow: hidden;
  font-family: Oswald, sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-clamp: 4;
}

.content__video-card-thumbnail {
  flex: 0 0 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.button {
  width: 100%;
  border: 1px solid #fff;
  padding: 5px 0;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  text-decoration: none;
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: self-end;
}

.more-button {
  width: calc(100% - 4px);
  margin: 0 2px 2px;
}